{% extends 'adminapp/base.html' %}
{% load static %}

{% block title %}
    {{ title|title }}
{% endblock title %}


{% block content %}
    <table class="table table-light table-hover">
        <thead class="thead-dark">
            <tr>
                <th scope="col">pk</th>
                <th scope="col">Username</th>
                <th scope="col">First name</th>
                <th scope="col">Email</th>
                <th scope="col">Date joined</th>
                <th scope="col">Age</th>
            </tr>
        </thead>
        <tbody>
            {% for user in users %}
                <tr class="{% if user.is_active %}{{ 'table-success' }}{% else %}{{ 'table-warning' }}{% endif %}">
                    <th scope="row">{{ user.pk }}</th>
                    <td>{{ user.username }}</td>
                    <td>{{ user.first_name }}</td>
                    <td>{{ user.email }}</td>
                    <td>{{ user.date_joined }}</td>
                    <td>{{ user.age }}</td>
                    <td><a href="{% url 'admin:user_update' user.pk %}">Update</a></td>
                    <td><a href="{% url 'admin:user_delete' user.pk %}">Delete</a></td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <a href="{% url 'admin:user_create' %}" class="btn btn-primary btn-md">Create user</a>
{% endblock content %}